.home-page {
  h1 {
    color: cornsilk;
  }

  span {
    font-weight: lighter;
  }

  .main-page {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 20rem;
    background-image: url("/img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  // frame window
  #frame-top,
  #frame-bottom,
  #frame-left,
  #frame-right {
    background: #fff;
    position: fixed;
  }

  #frame-left,
  #frame-right {
    top: 0;
    bottom: 0;
    width: 18px;
  }

  #frame-left {
    left: 0;
  }

  #frame-right {
    right: 0;
  }

  #frame-top,
  #frame-bottom {
    left: 0;
    right: 0;
    height: 18px;
  }

  #frame-top {
    top: 0;
  }

  #frame-bottom {
    bottom: 0;
  }


  .title {
    display: block;
    font-weight: 100;
    font-size: 70px;
    color: cornsilk;
    letter-spacing: 1px;
  }

  .logo {
    max-width: 100px;
    margin-bottom: 7rem;
  }

  .nav-bar {
    display: inline;
    list-style-type: none;
    color: rgba(255, 255, 255, .7);
    padding-bottom: 2rem;

    & .nav-link {
      float: left;
      border: 1px solid rgb(77, 83, 84);
      text-decoration: none;
      color: rgba(255, 255, 255, .7);
      padding: 5px 15px;
      border-radius: 20px;
      margin: 0px 10px;
      text-align: center;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: #47c9e5;
        color: black;
      }
    }
  }

  p {
    color: #ccc;
  }

  .portfolio {
    margin-top: -130px;
    padding: 0px 50px 0px 50px;
  }

  // BEGIN MANSORY GALLERY
  .masonry {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
  }

  .item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    --webkit-transition: .5s all ease-in-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
  }

  .item img {
    max-width: 100%;
  }

  .item:hover .hover-image {
    opacity: 0.8;
  }

  .item:hover .hoverimage,
  .item:focus .hoverimage {
    transition: all .5s;
    // transform: scale(1.2);
  }

  .hover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    padding: 3px;
    transition: .5s ease;
    background-color: #47c9e5;
  }


  .gallery-title {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media only screen and (max-width: 320px) {
    .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
  }

  @media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  @media only screen and (min-width: 1201px) {
    .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  // END MANSORY GALLERY
}
